<v-page>
  <v-header title="编辑店铺信息">
    <v-btn class="left" v-back icon="back"></v-btn>
    <v-btn class="right" v-home icon="home"></v-btn>
  </v-header>
  <v-content>
    <div>{{ weixin }}</div>
    <form (ngSubmit)="submit()" #form="ngForm">
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">用户号</label></div>
          <div class="weui-cell__bd">
            <p>{{ store?.UserCode }}</p>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">店铺名称</label></div>
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" name="StoreName" required [(ngModel)]="store.StoreName" placeholder="请输入店铺名称">
          </div>
        </div>
      </div>
      <div class="weui-btn-area">
        <button type="submit" class="weui-btn weui-btn_warn" [disabled]="form.invalid" [class.weui-btn_disabled]="form.invalid">确定</button>
      </div>
    </form>
  </v-content>
</v-page>