<div class="seller">
  <div class="seller-wrap">
    <div class="ordercb">
      <p>
        <input type="checkbox" id="order-{{}}">
        <label for="order-1"></label>
      </p>
    </div>
    <div class="seller-bd">
      <div class="contact">
        <div class="contact-cont">
          <p class="title">纽巴伦、福州宝龙专卖店</p>
        </div>
      </div>
      <div class="state">
        <div class="state-cont">
          <p>等待买家付款</p>
        </div>
      </div>
    </div>
  </div>
</div>
<order-item></order-item>
<order-item></order-item>
<order-item></order-item>
<div class="pay">
  <div class="pay-wrap">
    <div class="pay-cont">
      <span>共<b>4</b>件商品</span>
      <span>合计:<b>￥192.00</b></span>
      <span>(含运费:<b>￥192.00</b>)</span>
    </div>
  </div>
</div>
<div class="orderop">
  <div class="operators">
    <ul class="clearfix">
      <li>付款</li>
    </ul>
  </div>
</div>
