
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1477540771'); /* IE9*/
  src: url('iconfont.eot?t=1477540771#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477540771') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477540771') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477540771#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-service:before { content: "\e605"; }
.icon-deliver:before { content: "\e606"; }
.icon-shuiguoshengxian:before { content: "\e613"; }
.icon-shumajiadian:before { content: "\e614"; }
.icon-evaluate:before { content: "\e607"; }
.icon-help:before { content: "\e608"; }
.icon-store:before { content: "\e609"; }
.icon-nanzhuang:before { content: "\e615"; }
.icon-settings:before { content: "\e611"; }
.icon-badaxilietubiao01:before { content: "\e616"; }
.icon-bubble:before { content: "\e600"; }
.icon-cart:before { content: "\e601"; }
.icon-back:before { content: "\e604"; }
.icon-home:before { content: "\e602"; }
.icon-user:before { content: "\e603"; }
.icon-jiajubaihuo:before { content: "\e617"; }
.icon-muyingyongpin:before { content: "\e618"; }
.icon-zuixin:before { content: "\e61d"; }
.icon-fund:before { content: "\e60a"; }
.icon-form:before { content: "\e60b"; }
.icon-back-top:before { content: "\e60c"; }
.icon-send:before { content: "\e60d"; }
.icon-jiushuiyinliao:before { content: "\e619"; }
.icon-remai:before { content: "\e61e"; }
.icon-nvzhuang:before { content: "\e61a"; }
.icon-qr:before { content: "\e60e"; }
.icon-refund:before { content: "\e60f"; }
.icon-xiangbao:before { content: "\e61b"; }
.icon-huazhuangpin:before { content: "\e61c"; }
.icon-pay:before { content: "\e610"; }
.icon-quit:before { content: "\e612"; }
