<v-page>
  <v-footer>
    <v-item [routerLink]="['/product']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" label="找货源" icon="huoyuan"></v-item>
    <v-item [routerLink]="['/product/selected']" routerLinkActive="active" label="已代理" icon="daili"></v-item>
    <v-item [routerLink]="['/product/insale']" routerLinkActive="active" label="去销售" icon="shangjia" ></v-item>
  </v-footer>
  <v-header>
    <v-btn class="left" v-back icon="back" label="产品"></v-btn>
    <div class="top-nav">
      <div class="categories" v-touch-drag>
        <a *ngFor="let c of mainCategories" [routerLink]="['/home']">
          {{ c.Name }}
        </a>
      </div>
    </div>
    <v-btn class="right" v-home icon="home"></v-btn>
  </v-header>
  <v-content
      infinite-scroll
      [scrollWindow]="false"
      [infiniteScrollDistance]="1.5"
      [infiniteScrollThrottle]="10"
      (scrolled)="onScrollDown()">
    <product-list-item *ngFor="let product of products" [product]="product"></product-list-item>
    <v-loading-box></v-loading-box>
  </v-content>
  <v-gotop></v-gotop>
  <div class="search" [routerLink]="['/product/search']">
    <i class="iconfont icon-search"></i>
  </div>
</v-page>