<v-page>
  <v-footer>
    <v-button [background]="publishButtonColor" (click)="submit()" width="100%">{{ productService.canPublish(product) ? '提交' : '已上架'}}</v-button>
  </v-footer>
  <v-content>
    <div class="item-info">
      <div class="item-show" [style.background-image]="product?.imgurls | split | first | backgroundUrl | unsafe">
      </div>
      <div class="item-name">{{ getTitle(product) }}</div>

      <div class="item-price-wrap">
        <p class="item-price-control">
          <span>供货价：</span>
          <span class="item-price" >{{ product?.balancePrice | yuan }}</span>
        </p>
      </div>
      <div class="inner-back" v-back></div>
    </div>

    <div class="weui-panel" *ngIf="product?.cateList?.length">
      <a name="category"></a>
      <div class="weui-panel__hd">
        <span>选择类型</span>
      </div>
      <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
          <div class="weui-cells weui-cells_checkbox">
            <label class="weui-cell weui-check__label" *ngFor="let cate of cateList" [attr.for]="cate.cate_id">
              <div class="weui-cell__hd">
                <input type="checkbox" class="weui-check" id="{{ cate.cate_id }}" [(ngModel)]="cate.$$checked">
                  <i class="weui-icon-checked"></i>
              </div>
              <div class="weui-cell__bd"><p>{{ cate.cate_name }}</p></div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="weui-panel">
      <a name="title"></a>
      <div class="weui-panel__hd">
        <span>设置标题</span>
      </div>
      <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
          <div class="weui-cells weui-cells_form">
            <div class="weui-cell origin">
              <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="请输入文本" rows="3" [(ngModel)]="publishProduct.subject"></textarea>
                <div class="weui-textarea-counter"><span>{{ publishProduct?.subject?.length }}</span>/200</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="weui-panel">
      <a name="price"></a>
      <div class="weui-panel__hd">
        <span>设置价格</span>
      </div>
      <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
          <div class="weui-cells weui-cells_form">
            <div class="weui-cell origin">
              <div class="weui-cell__hd"><label class="weui-label">产品价格</label></div>
              <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入产品价格" [(ngModel)]="publishProduct.spuPrice">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="weui-panel__ft">
        <div class="weui-cell">
          <div class="weui-cell__bd">利润：{{ profit | yuan }}</div>
        </div>
      </div>
    </div>

    <v-collapsable [title]="'SKU属性(' + product?.hmbspucode + ')'" [hasContent]="product?.skuList?.length">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <div class="weui-cell" *ngFor="let sku of product?.skuList">
            <div class="weui-cell__bd"><p>{{ sku.title }}</p></div>
            <div class="weui-cell__ft"><p>{{ sku.hmbskucode }}</p></div>
          </div>
        </div>
      </div>
    </v-collapsable>

    <v-collapsable title="运费" *ngIf="product?.shipStr" [collapsed]="true">
      <div class="weui-media-box weui-media-box_text" [innerHTML]="product?.shipStr">
      </div>
    </v-collapsable>

    <v-collapsable title="商品详情">
      <div class="weui-media-box weui-media-box_text">
        <div [innerHTML]="getDesc(product)"></div>
        <img src="{{ image }}" *ngFor="let image of product?.imgurls | split: ';'" width="100%">
      </div>
    </v-collapsable>
  </v-content>
</v-page>