<v-page>
  <v-footer>
    <v-button background="yellow" [routerLink]="['signup']">选售</v-button>
    <v-button [routerLink]="['bind']">上架</v-button>
  </v-footer>
  <v-content>
    <div class="item-info">
      <div class="item-show" [style.background-image]="product?.image | backgroundUrl | unsafe">
      </div>
      <div class="item-name">{{ product?. title }}</div>

      <div class="item-price-wrap">
        <p class="item-price-control">
          <span>供货价：</span>
          <span class="item-price" >{{ product?.price | yuan }}</span>
        </p>
      </div>
      <div class="inner-back" v-back></div>
    </div>

    <div class="item-detail">
      <div class="detail-wrap">
        <div class="detail-title">sku属性({{ product?.spu }})</div>
        <table width="100%">
          <tr *ngFor="let sku of product?.skus">
            <td align="left">{{ sku.sku }}</td>
            <td align="center">{{ sku.spec }}</td>
            <td align="right">{{ sku.weight | unit: 'g' }}/{{ sku.price | yuan }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="item-detail">
      <div class="detail-wrap">
        <div class="detail-title">商品详情</div>
        <div class="detail-desc">
          {{ product?.detail }}
        </div>
        <img src="{{ image }}" *ngFor="let image of product?.images" width="100%">
      </div>
    </div>

  </v-content>
</v-page>