<v-page>
  <v-header title="选择店铺">
    <v-btn class="left" v-back icon="back"></v-btn>
    <v-btn class="right" v-home icon="home"></v-btn>
  </v-header>
  <v-content>
    <div class="weui-cells">
      <a class="weui-cell weui-cell_access" (click)="select(store)" *ngFor="let store of stores">
        <div class="weui-cell__bd">
          <p>{{ store.StoreName }}</p>
        </div>
        <div class="weui-cell__ft">
          <p>{{ store.PlatformName }}</p>
        </div>
      </a>
    </div>
  </v-content>
</v-page>