<v-page>
  <v-header title="选择性别">
    <v-btn class="left" v-back icon="back"></v-btn>
    <v-btn class="right" v-home icon="home"></v-btn>
  </v-header>
  <v-content>
    <div class="weui-cells">
      <a class="weui-cell weui-cell_access" (click)="submit(gender)" *ngFor="let gender of genders">
        <div class="weui-cell__bd">
          <p>{{ gender | gender }}</p>
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>
    </div>
  </v-content>
</v-page>