<v-page>
  <v-header title="更改密码">
    <v-btn class="left" v-back icon="back"></v-btn>
    <v-btn class="right" v-home icon="home"></v-btn>
  </v-header>
  <v-content>
    <form (ngSubmit)="submit()" #form="ngForm">
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">密码</label></div>
          <div class="weui-cell__bd">
            <input class="weui-input" type="password" name="Password" required [(ngModel)]="password" placeholder="填写密码">
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">确认密码</label></div>
          <div class="weui-cell__bd">
            <input class="weui-input" type="password" name="Confirm" required [(ngModel)]="confirm" placeholder="再次确认密码">
          </div>
        </div>
      </div>
      <div class="weui-btn-area">
        <button type="submit" class="weui-btn weui-btn_warn" [disabled]="form.invalid" [class.weui-btn_disabled]="form.invalid">确定</button>
      </div>
    </form>
  </v-content>
</v-page>
