<v-page>
  <v-header title="个人设置">
    <v-btn class="left" v-back icon="back"></v-btn>
    <v-btn class="right" v-home icon="home"></v-btn>
  </v-header>
  <v-content>
    <div class="weui-cells">
      <a class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">
          <p>昵称</p>
        </div>
        <div class="weui-cell__ft">
          <p>{{ user?.NickName }}</p>
        </div>
      </a>
      <a class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">
          <p>加盟号</p>
        </div>
        <div class="weui-cell__ft">
          <p>{{ user?.UserCode }}</p>
        </div>
      </a>
      <a class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">
          <p>性别</p>
        </div>
        <div class="weui-cell__ft">
          <p>{{ user?.Gender }}</p>
        </div>
      </a>
    </div>

    <div class="weui-cells">
      <a class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">
          <p>所在地</p>
        </div>
        <div class="weui-cell__ft">
          <p>{{ user?.AreaName }}</p>
        </div>
      </a>
      <a class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">
          <p>归属地</p>
        </div>
        <div class="weui-cell__ft">
          <p>{{ user?.ServiceAreaName }}</p>
        </div>
      </a>
    </div>

    <div class="weui-cells">
      <a class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">
          <p>更改密码</p>
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>
      <a class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">
          <p>申请供应商</p>
        </div>
        <div class="weui-cell__ft">
        </div>
      </a>
    </div>
  </v-content>
</v-page>