<v-page>
  <v-header title="微信充值">
    <v-btn class="left" v-back icon="back"></v-btn>
    <v-btn class="right" v-home icon="home"></v-btn>
  </v-header>
  <v-content>
    <div>{{ weixin }}</div>
    <form (ngSubmit)="submit()" #form="ngForm">
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">用户号</label></div>
          <div class="weui-cell__bd">
            <p>{{ authService.user.user.UserCode }}</p>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">用户昵称</label></div>
          <div class="weui-cell__bd">
            <p>{{ authService.user.user.NickName }}</p>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">充值金额</label></div>
          <div class="weui-cell__bd">
            <input class="weui-input" type="text" pattern="[0-9.]*" name="amount" required [(ngModel)]="amount" placeholder="请输入充值金额">
          </div>
        </div>
      </div>
      <div class="weui-btn-area">
        <button type="submit" class="weui-btn weui-btn_warn" [disabled]="form.invalid" [class.weui-btn_disabled]="form.invalid">充值</button>
      </div>
    </form>
  </v-content>
</v-page>